body {
	display: flex;
	justify-content: center;
	align-items: center;
}
article {
	display: inline-block;
}
code {
	color: black;
	background-color: silver;
	padding: 2px;
}
pre {
	color: black;
	background-color: silver;
	display: block;
	padding: 10px;
}
